body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
    height: auto;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 10px 200px 20px 200px;
}
.top > div {
    display: flex;
    flex: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.top > ul {
    display: flex;
    gap: 16px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 10px 200px 20px 200px;
}
.left {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.left > h1 {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.left > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    font-size: 18px;
    color: #e5e7eb;
}
.left > button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 10px;
    padding: 8px 24px;
}
.right{
    display: flex;

}
.right > img {
    display: flex;
    width: 400px;
    height: auto;
}
.box-one, .box-three {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 200px 20px 200px;
}
.box-one > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.contener > p {
    width: 150px;
    text-align: center;
}
.box-two {
    background-color: #b7babe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}
.box-two > div {
    width: 900px;
    margin: 0;
}
#author {
    font-size: 24px;
    text-align: right;
    padding-right: 100px;
    font-weight: 900;
    margin: 0;
    color: black;
}
#sentence {
    font-size: 36px;
    text-align: left;
    margin: 0;
    color: #494d53;
}
.contener {
    display: flex;
    flex-direction: column;
    width: 150;
}

.square {
    height: 150px;
    width: 150px;
    border-radius: 5%;
    border: 2px solid #3882f6;
}
.box-three {
    padding: 100px;
}

.cta {
    background-color: #3882f6;
    width: 800px;
    height: auto;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.cta > text {
    display: flex;
    flex-direction: column;
}
.text > h4, p {
    margin: 0;
}
.cta > button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    width: 100px;
    border-radius: 10px;
    padding: 8px 24px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.footer > p {
    font-size: 18px;
    color: rgb(222, 219, 219);
}