body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
}
.header {
    padding: 0 0 40px 0;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 10px 200px 20px 200px;
}
.top > div {
    display: flex;
    flex: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.top > ul {
    display: flex;
    gap: 24px;
}
ul > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
ul > a:hover {
    color: #b7babe;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 10px 200px 20px 200px;
}
.left {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.left > h1 {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}
.left > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0px;
}
.left > button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 10px;
    padding: 8px 24px;
}
.left > button:hover {
    background-color: #74a6f6;
}
.right{
    display: flex;
}
.right > img {
    display: flex;
    width: 400px;
    height: auto;
}
.box-one {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 200px 20px 200px;
}
.box-one > h1 {
    margin: 30px 0 30px;
    font-size: 36px;
    font-weight: 300;
}
.box-one > .cont {
    display: flex;
    gap: 50px;
    margin: 0 0 30px;

}
.contener > p {
    width: 150px;
    text-align: center;
}
.box-two {
    background-color: #b7babe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}
.box-two > div {
    width: 900px;
    margin: 0;
}
#author {
    font-size: 24px;
    text-align: right;
    padding-right: 100px;
    font-weight: 900;
    margin: 0;
    color: black;
}
#sentence {
    font-size: 36px;
    text-align: left;
    margin: 0;
    color: #494d53;
}
.contener {
    display: flex;
    flex-direction: column;
    width: 150;
}

.square {
    height: 150px;
    width: 150px;
    border-radius: 5%;
    border: 2px solid #3882f6;
}
.box-three {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 200px 20px 200px;
    padding: 100px;
}

.cta {
    background-color: #3882f6;
    width: 800px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.cta > text {
    display: flex;
    flex-direction: column;
}
.text > h4 {
    margin: 0;
}
.text > p {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}
.cta > button {
    display: flex;
    white-space: nowrap;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    width: 100px;
    height: auto;
    border-radius: 10px;
    padding: 8px 24px;
}
.cta > button:hover {
    background-color: #74a6f6;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.footer > p {
    font-size: 18px;
    color: rgb(222, 219, 219);
}